@using BlazorApp.DataTransferContract.DataTransferObjects.Order
@using BlazorApp.DataTransferContract.DataTransferObjects.State
@inject NavigationManager NavigationManager

<h3>Orders</h3>

<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr role="button" @onclick="() => NavigateOrderById(item.Id)">
                <td>@item.Name</td>
                <td>@ResolveStateAbbreviation(item.StateId)</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<OrderDto> Items { get; set; }
    [Parameter]
    public IEnumerable<StateDto> States { get; set; }

    private string ResolveStateAbbreviation(int stateId) => States?.FirstOrDefault(x => x.Id.Equals(stateId))?.Abbreviation ?? "Unresolved";

    private void NavigateOrderById(int id) => NavigationManager.NavigateTo($"orders/{id}");
}
